@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: hsl(183, 100%, 15%);
  font-family: "Space Mono", monospace !important;
  font-weight: 700;
  background-color: hsl(185, 41%, 84%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::placeholder{
  text-align: end;

}

.custom::placeholder{
  padding-left: 15px;
  color: hsl(183, 100%, 15%);
  opacity: 50%;
}

@media screen and (max-width: 400px) {
    .custom::placeholder{
      padding-right: 10px;
    }
}